@model Forum.Web.Models.Forum.AddForumModel

<div class="container body-content">
    <div class="row sectionHeader">
        <div class="sectionHeading">
            Create New Forum
        </div>
    </div>
    <div class="row">
        <div class="createForumSection">
            <form asp-action="AddForum" method="post" id="createForumForm" enctype="multipart/form-data">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title">Forum Title</label>
                    <input asp-for="Title" class="form-control" placeholder="Choose a Forum Title"/>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <input asp-for="Description" rows="1" class="form-control" placeholder="Write a brief description here.">
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div id="upload">
                    <label>Upload Forum Image</label>
                    <br/>
                    <label class="btn btn-default btn-file">
                        Browse <input asp-for="ImageUpload" type="file" style="display: none;">
                    </label>
                </div>
                <button type="submit" id="registerBtn" class="btn btn-submitPost">Create</button>
            </form>
        </div>
    </div>
</div>
