@model Forum.Web.Models.Post.NewPostModel

<div class="container body-content">
    <div class="row sectionHeader">
        <div class="sectionHeading">New Post | @Model.ForumName</div>
        <div class="sectionDescription">
            <p>
            </p>
        </div>
    </div>
    @if (!Context.User.Identity.IsAuthenticated)
    {
        <div class="row">
            <div id="forumIndexContent">
                <div class="register">You must be a <a asp-controller="Account" asp-action="Register">registered member</a> to create a new post.</div>
            </div>
        </div>
    }
    @if (Context.User.Identity.IsAuthenticated)
    {
        <div class="row">
            <div class="createPostSection">
                <form asp-route-returnUrl="Forum" method="post" id="addPostForm">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Title"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Content"></label>
                        <input asp-for="Content" class="form-control" />
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                    <button type="submit" id="registerBtn" class="btn btn-lg btn-info">Submit Post</button>
                </form>
            </div>
        </div>
    }
</div>