@model Forum.Web.Models.Post.DeletePostModel

<div class="container body-content">
    @if (!Context.User.Identity.IsAuthenticated)
    {
        <div class="row sectionHeader">
            <div class="sectionHeading">Delete Post</div>
            <div class="sectionDescription">
                <p>
                    Are you sure you'd like to delete this post?
                </p>
            </div>
        </div>
        <div class="deletePost">
            <button id="deleteButton" class="btn btn-lg btn-danger">Confirm Delete</button>
            <button id="deleteButton" class="btn btn-lg btn-default">Cancel</button>
        </div>
    }
</div>
