@{
    ViewData["Title"] = "Home Page";
}
<div class="container body-content">
    <div class="frontPageTopContainer">
        <h1 class="frontPageHeading">Welcome to Code Forums</h1>
        <h2>Software development discussion forums</h2>
    </div>
</div>