@{
    ViewData["Title"] = "Home Page";
}
<div class="container body-content">
    <div class="row frontPageTopContainer">
        <h1>Welcome to Lambda Forums</h1>
        <h2>Software development discussion forums</h2>
    </div>
    <div class="row frontPageContent">
        <h3 id="latestPosts">Latest Posts</h3>
        <hr />
        <table class="table table-hover" id="latestPostsTable">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Forum</th>
                    <th>Replies</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="postTitle">
                            What's your favorite front-end framework?
                        </div>
                        <div class="postSubTitle">
                            posted by <span class="postUser">Sam</span> on <span class="postDate">09-27-2017</span>
                        </div>
                    </td>
                    <td>Front End</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td>Angular ngAfterContentInit component hook</td>
                    <td>Front End</td>
                    <td>Devon</td>
                    <td>1</td>
                    <td>09/27/17</td>
                </tr>
                <tr>
                    <td>Django redirect after authentication</td>
                    <td>Python</td>
                    <td>Karthik</td>
                    <td>2</td>
                    <td>09/27/17</td>
                </tr>
                <tr>
                    <td>Rails vs Django for new developer</td>
                    <td>Opinion</td>
                    <td>Grayson</td>
                    <td>8</td>
                    <td>09/27/17</td>
                </tr>
                <tr>
                    <td>SQL CROSS APPLY vs OUTER APPLY to join top n results</td>
                    <td>SQL</td>
                    <td>Gao Xin</td>
                    <td>5</td>
                    <td>09/27/17</td>
                </tr>
                <tr>
                    <td>React router pass multiple params</td>
                    <td>Front End</td>
                    <td>Bobby</td>
                    <td>2</td>
                    <td>09/27/17</td>
                </tr>
                <tr>
                    <td>When to use flatMap</td>
                    <td>Swift</td>
                    <td>Stacy</td>
                    <td>11</td>
                    <td>09/27/17</td>
                </tr>
                <tr>
                    <td>Boston-area developer conference?</td>
                    <td>Conferences</td>
                    <td>Aditya</td>
                    <td>12</td>
                    <td>09/27/17</td>
                </tr>
                <tr>
                    <td>Angular decorators reference</td>
                    <td>Front End</td>
                    <td>Brittany</td>
                    <td>22</td>
                    <td>09/27/17</td>
                </tr>
                <tr>
                    <td>Resources for learning Clojure</td>
                    <td>Clojure</td>
                    <td>Ryan</td>
                    <td>3</td>
                    <td>09/27/17</td>
                </tr>
                <tr>
                    <td>Rebuilding complex SQL query using LINQ</td>
                    <td>C# .NET</td>
                    <td>Pat</td>
                    <td>6</td>
                    <td>09/27/17</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>