@{
    ViewData["Title"] = "Home Page";
}
<div class="container body-content">
    <div class="row frontPageTopContainer">
        <h1>Welcome to Lambda Forums</h1>
        <h2>Software development discussion forums</h2>
    </div>
    <div class="row frontPageContent">
        <h3>Latest Posts</h3>
        <hr />
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Forum</th>
                    <th>Author</th>
                    <th>Replies</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>What's your favorite front-end framework?</td>
                    <td>Front End<td>
                    <td>Sam</td>
                    <td>12<td>
                    <td>09/27/17<td>
                </tr>
            </tbody>
        </table>
    </div>
</div>