body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #fafafa;
    background-image: url("/images/mts2.png")
}

.navLogo{
    background-image: url("/images/app-logo-s.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 16px 0 0;
    width: 150px;
    margin-right: 12px;
}

.frontPageTopContainer {
    padding: 50px 80px 80px 60px;
    border: 1px solid #999;
    background-color: rgba(1, 87, 155, 0.9);
    border-bottom: 1px solid black;
    font-family: 'Roboto';
}

.frontPageTopContainer > h1 {
    font-size: 1.8em;
    color: #fff;
}

.frontPageTopContainer > h2 {
    font-size: 1.4em;
    color: #fff;
}

.frontPageContent {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 16px;
}

.postTitle {
    font-family: 'Roboto';
    font-weight: bold;
}

.postSubTitle {
    color: #888;
    font-family: 'Roboto Mono';
    font-size: 0.8em;
}

.postLogo {
    border-radius: 3px;
    display: inline-block;
    float:left;
    margin-right: 20px;
    height: 40px;
    width: 40px;
    background-color: #ddd;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}