body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #eee;
    background-attachment: fixed;
}

.material-icons.md-48 {
    font-size: 48px !important;
    height: 48px !important;
    width: 48px !important;
}

.material-icons.md-72 {
    font-size: 72px !important;
    height: 72px !important;
    width: 72px !important;
}

.navLogo{
    background-image: url("/images/app-logo-s.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 16px 0 0;
    width: 150px;
    margin-right: 12px;
}

#navbar li {
    font-weight: bold;
}

.navEmail {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #159;
}

.sectionHeader{
    background-color: rgba(0,0,0,0.9);
    padding: 8px 0 24px 24px;
}

.postHeader {
    background-color: #212121;
    padding: 8px 0 24px 24px;
}

.sectionHeading{
    color: white;
    font-size: 1.3em;
    font-family: 'Roboto';
    padding: 16px 0 16px 0;
    border-bottom: 1px solid #335;
    margin-bottom: 12px;
}

.postHeading {
    color: white;
    font-size: 1.2em;
    font-family: 'Roboto';
    padding: 16px 0 16px 0;
}

.sectionInfo{
    background-color: white;
}

.frontPageImage{
    height:410px;
    background-image: url("../images/theme/lookout.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.frontPageLearn{
    font-family: 'Roboto';
    padding: 12px 0 0 32px;
}

.sectionDescription {
    color: #eee;
}

.frontPageHeading{
    font-size: 3.2em;
    margin: 16px 0;
}

.frontPageSubHeading{
    font-size: 2em;
}


.frontPageTopContainer {
    padding: 40px 80px 42px 40px;
    border: 1px solid #999;
    background-color: #2569d5;
    font-family: 'Roboto';
    /*background: rgb(29,144,209); /* Old browsers */
    /*background: -moz-linear-gradient(left, rgba(29,144,209,1) 0%, rgba(4,47,103,1) 100%);*/
    /*background: -webkit-linear-gradient(left, rgba(29,144,209,1) 0%,rgba(4,47,103,1) 100%);*/
    /*background: linear-gradient(to right, rgba(29,144,209,1) 0%,rgba(4,47,103,1) 100%);*/*/
}

.frontPageTopContainer > h1 {
    font-size: 1.8em;
    color: #fff;
    padding: 9px;
}

#welcomeMessage{
    color: white;
    font-size: 1.5em;
    font-family: 'Roboto';
}

#welcomeSub{
    color: white;
    font-size: 1.2em;
    font-family: 'Roboto';
}

.frontPageTopContainer > h2 {
    font-size: 1.4em;
    color: #fff;
}

.frontPageContent {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 16px;
}

#latestPosts{
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin: 4px 0 16px 0;
}

/* Front page */

.postTitle {
    font-family: 'Roboto';
    font-weight: bold;
}

.postSubTitle {
    color: #888;
    font-family: 'Roboto Mono';
    font-size: 0.8em;
}

.postData{
    display: inline-block;
}

.postDate{
    color: #888;
    font-family: 'Roboto Mono';
    font-size: 0.8em;
}

.postLogo {
    display: inline-block;
    border-radius: 3px;
    margin-right: 20px;
    height: 40px;
    width: 40px;
    background-color: #ddd;
}

/*Forum index*/

#forumIndexTable td {
    background-color: rgba(255, 255, 255, 0.9);
}

#forumIndexTable tr:hover {
    background-color: rgba(0, 116, 238, 1);
}

.forumData {
    display: inline-block;
}

.forumTitle {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 1.1em;
}

.forumSubTitle {
    color: #888;
    font-family: 'Roboto Mono';
    font-size: 0.8em;
}

.forumDescription {
    color: #555;
    font-family: 'Roboto';
}

.forumLogo {
    border-radius: 3px;
    float:left;
    margin-right: 20px;
    height: 40px;
    width: 40px;
    background-color: #ddd;
    border: 1px solid #555;
}

.forumPostCount{
    color: #888;
    font-family: 'Roboto Mono';
    font-size: 0.9em;
}

.forumMemberCount{
    color: #888;
    font-family: 'Roboto Mono';
    font-size: 0.9em;
}

#forumIndexContent{
    padding-bottom: 60px;
    background-color: white;
}

.noPosts{
    text-align: center;
    padding-top: 30px;
    font-family: 'Roboto Mono'
}

/*Post*/
.createPostSection{
    background-color: #fff;
    padding: 24px;
}

/*Register*/
#registerContent, #signInContent{
    background-color: white;
    min-height: 600px;
    padding: 16px 0 24px 40px;
}

#signInFormWrapper{
    background-color: #fff;
    padding: 16px 0 24px 0;
    margin: auto;
    width: 60%;
}

#registerFormWrapper{
    background-color: #fff;
    padding: 16px 0 24px 0;
    margin: auto;
    width: 60%;
}

.register{
    padding: 48px 0 0 72px;
    font-size: 1.2em;
    font-family: 'Roboto'
}

#registerForm {
}

#registerImage{
    height:500px;
    background-image: url("../images/theme/jump.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#signInImage{
    height:500px;
    background-image: url("../images/theme/lookout.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#registerBtn {
    margin-top: 12px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

#headingBtn{
    margin-right: 20px;
    float: right;
}

.btn-newPost {
    background-color: #c62828 !important;
    color: #fff !important;
    transition: ease-in 0.1s;
    border-radius: 0px !important;
}

.btn-newPost:hover {
    transition: ease-in 0.1s;
    background-color: #e53935 !important;
    color: #fff !important;
}

.btn-submitPost {
    background-color: #00695C !important;
    color: #fff !important;
    transition: ease-in 0.1s;
    border-radius: 0px !important;
}

.btn-submitPost:hover {
    transition: ease-in 0.1s;
    background-color: #00897B !important;
    color: #fff !important;
}

.authorBlock{
    padding: 18px;
    border: 1px dashed #00AFCF;
}

.authorBlockName{
    font-weight: bold;
}

.btn-back {
    background-color: #555;
    color: #fff !important;
    transition: ease-in 0.1s;
    border-radius: 0px !important;
}

.btn-back:hover {
    transition: ease-in 0.1s;
    background-color: #1E88E5 !important;
}

.hasRecentPost {
    color: white;
    background-color: #f44336;
    font-family: 'Roboto Mono';
    padding: 2px 5px 2px 5px;
    border-radius: 1px;
    text-align: center;
    width: 30px;
}

.btn-newReply {
    background-color: #5C6BC0! important;
    color: #fff !important;
    transition: ease-in 0.1s;
    border-radius: 0px !important;
}

.btn-newReply:hover {
    background-color: #9FA8DA !important;
    transition: ease-in 0.1s;
}

#replyRow {
    background-color: #3F51B5;
    padding: 8px;
}

.postAuthorContainer{
    padding: 12px;
    color: #444;
    font-family: 'Roboto';
    width: 190px;
}

.postIndexTitle{
    font-size: 1.4em;
}

#postIndexContent{
    background-color: white;
}

.postContentContainer{
    font-family: 'Roboto';
    color: #222;
    padding: 22px;
    border-left: 1px solid #ddd;
}

.postAuthorRating{
    font-size: 0.9em;
    color: #159;
    font-family: 'Roboto Mono';
}

.userProfile{
    padding: 32px 0 64px 24px;
    background-color: #fff;
}

#userProfileImage{
    display: inline-block;
    height: 200px;
    width: 200px;
    background-color: #ddd;
}

#userEmailLabel, #userBioLabel, #userCreatedLabel, #userRating {
    display: block;
    color: #444;
    font-family: 'Roboto';
    padding-top: 3px;
}

#userName{
    display: block;
    color: #2569d5;
    font-family: 'Roboto';
    font-size: 1.7em;
}

.userBio{
    color: #555;
    font-family: 'Roboto';
    padding: 12px;
    margin-left: 10px;
}

.replyContent{
    display: table;
    background-color: white;
    border-bottom: 1px solid #aaa;
    width: inherit;
}

.replyAuthorContainer {
    display: table-cell;
    padding: 12px;
}

.replyContentContainer {
    padding: 12px;
    border-left: 1px solid #eee;
}

[class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}

.postAuthorImage{
    height: 80px;
    width: 80px;
}

.btn-file {
    color: white;
    width: 100%;
    background-color: #4FC3F7;
    transition: ease 0.3s;
}

.btn-file:hover {
    background-color: #039BE5;
    transition: ease 0.3s;
}

#btn-profile{
    margin-top: 10px;
}

.createForumSection {
    background-color: #fff;
    padding: 24px;
}

#createForumForm {
    width: 50%;
    margin: auto;
}

.noBorder {
    border: none;
}

.isAdmin {
    display: inline-block;
    padding: 3px;
    background-color: #FFEB3B;
    color: black;
    font-family: 'Roboto Mono';
}

.smaller {
    font-size: 0.8em;
}

.profileLabel {
    margin-top: 2px;
    display: inline-block;
}

.userProfilePic {
    height: 140px;
    width: 140px;
}

