@using Forum.Web.Models.AccountViewModels
@model Forum.Web.Models.AccountViewModels.RegisterViewModel

<div class="container body-content">
    <div class="row sectionHeader">
        <div class="sectionHeading">
            Register
        </div>
        <div class="sectionDescription">
            <p>Create an account to post in the forums.</p>
        </div>
    </div>
    <div class="row" id="registerContent">
        <div id="registerFormWrapper">
            <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" id="registerForm">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Username"></label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" id="registerBtn" class="btn btn-lg btn-success">Register</button>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
